table {
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #32CD32;
    color: white;
}
table,td,th{
	border: 1px solid #32CD32 ;
}
